@font-face {
    font-family: 'office_code_pro_dregular';
    src: url('officecodeprod-regular-webfont.eot');
    src: url('officecodeprod-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('officecodeprod-regular-webfont.woff2') format('woff2'),
         url('officecodeprod-regular-webfont.woff') format('woff'),
         url('officecodeprod-regular-webfont.ttf') format('truetype'),
         url('officecodeprod-regular-webfont.svg#office_code_pro_dregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

