@font-face {
    font-family: 'office_code_prolight';
    src: url('officecodepro-light-webfont.eot');
    src: url('officecodepro-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('officecodepro-light-webfont.woff2') format('woff2'),
         url('officecodepro-light-webfont.woff') format('woff'),
         url('officecodepro-light-webfont.ttf') format('truetype'),
         url('officecodepro-light-webfont.svg#office_code_prolight') format('svg');
    font-weight: normal;
    font-style: normal;

}

