@font-face {
    font-family: 'office_code_pro_dbold_italic';
    src: url('OfficeCodeProD-BoldItalic-webfont.eot');
    src: url('OfficeCodeProD-BoldItalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('OfficeCodeProD-BoldItalic-webfont.woff2') format('woff2'),
         url('OfficeCodeProD-BoldItalic-webfont.woff') format('woff'),
         url('OfficeCodeProD-BoldItalic-webfont.ttf') format('truetype'),
         url('OfficeCodeProD-BoldItalic-webfont.svg#office_code_pro_dbold_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}

