@font-face {
    font-family: 'office_code_probold_italic';
    src: url('officecodepro-bolditalic-webfont.eot');
    src: url('officecodepro-bolditalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('officecodepro-bolditalic-webfont.woff2') format('woff2'),
         url('officecodepro-bolditalic-webfont.woff') format('woff'),
         url('officecodepro-bolditalic-webfont.ttf') format('truetype'),
         url('officecodepro-bolditalic-webfont.svg#office_code_probold_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}

